In [12]:

import sqlite3

connection = sqlite3.connect('example.db')
cursor = connection.cursor()

# Create sample tables and insert data
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,
    name TEXT,
    last_name TEXT,
    salary REAL,
    manager_id INTEGER,
    department_id INTEGER
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id INTEGER PRIMARY KEY,
    name TEXT
);
""")

In [13]:
cursor.executemany("""
INSERT INTO employees (emp_id, name, last_name, salary, manager_id, department_id)
VALUES (?, ?, ?, ?, ?, ?)
""", [
    (1, 'John', 'Doe', 4500, 102, 1),
    (2, 'Jane', 'Smith', 3000, 103, 2),
    (3, 'Alice', 'Johnson', 5000, 101, 1),
    (4, 'Bob', 'Brown', 2500, 104, 3),
    (5, 'Charlie', 'Davis', 4000, 200, 2)
])

cursor.executemany("""
INSERT INTO departments (department_id, name)
VALUES (?, ?)
""", [
    (1, 'HR'),
    (2, 'Engineering'),
    (3, 'Marketing')
])

connection.commit()

# task 1

In [14]:
query1 = """
SELECT emp_id, last_name, salary
FROM employees
WHERE salary BETWEEN 2000 AND 5000
  AND manager_id NOT IN (101, 200);
"""

cursor.execute(query1)
cursor.fetchall()

[(1, 'Doe', 4500.0), (2, 'Smith', 3000.0), (4, 'Brown', 2500.0)]

# task 2

In [15]:
query2 = """
SELECT e.name AS employee_name, d.name AS department_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.department_id
ORDER BY department_name ASC;
"""

cursor.execute(query2)
cursor.fetchall()

[('Jane', 'Engineering'),
 ('Charlie', 'Engineering'),
 ('John', 'HR'),
 ('Alice', 'HR'),
 ('Bob', 'Marketing')]

# task 3

In [16]:
query3 = """
SELECT department_id,
       COUNT(*) AS num_employees,
       AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id;
"""

cursor.execute(query3)
cursor.fetchall()

[(1, 2, 4750.0), (2, 2, 3500.0), (3, 1, 2500.0)]

In [17]:
connection.close()